* {
  box-sizing: border-box;
}

.container{
    display: -webkit-flex;
    display: flex;
    margin-top:2.5vh;
    margin-bottom: 2.5vh;
    width: 95vw !important;
    background-color: transparent;
    -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: center !important;
   justify-content: center!important;
   flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
        height: 70vh !important;

}
.item {
    background-color: white;
    margin: auto;
    padding:0.5vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

body{
    height:100vh !important;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #add8e6 !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    overflow-y: hidden;
}
html{
    height: 100vh !important;
}

@media screen and (max-width: 480px) {
    body {
        overflow: hidden;
    }

    ::-webkit-scrollbar { 
    display: none; 
    }

    .item{
        width:95vw!important;
    }
}
.list-group-item{
    padding:2px 2px !important;
}
.loading {
    transition: opacity 1s ease-in-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #add8e6;
    z-index: -1;
}

.loading img {
    position: absolute;
    top: 30%;
    left: 35%;
    height: 45%;
    width: auto;
}