li{
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        margin-top:4px;
        border-radius:5px;
        padding-left:5px !important;
        transition: all .2s ease-in-out;
        font-size: small;
}
li a{
     color:black;
}
li a:hover{
     color:black;
     text-decoration: none;
}
li:hover{
    background-color:#def9ff;
    transition: none;
}

.selected{
    background-color:#add8e6 !important;
}
.selected a{
    color:white !important;
}
.list-group-item{
    border:none;
}
.item{
    height: 35vh;
    overflow-y:auto;
    width:10vw;
    transition: all .5s ease-in-out;
    transition-delay: 0.3s;
}
@media screen and (max-width: 480px) {
    .item{
       height:15vh !important;
       width: 100vw !important;
    }
    li{
        height:5vh;
    }
}

.addplaylist{
        margin-top:10px;
        background-color:#7998a2 !important;
        cursor:pointer;
}