.item{
    width:90.5vw;
    height:45vh;
    margin-top:2.5vh;
}

@media screen and (max-height: 600px) {
    .item{
       height:35vh !important;
    }
}

.playerhide{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 1000ms, opacity 300ms;
}
.playervisible{
    visibility:visible;
    opacity:100;
    transition: visibility 1000ms linear 1000ms, opacity 1000ms;
    transition-delay: 0.5s;
        height:45vh;
}