<navigation-component></navigation-component>
<div [@flyInOut] class="container">
  <all-playlists *ngIf="!playlistHidden" [@flyInOut]="!playlistHidden" [playerHidden]="playerHidden"></all-playlists>
  <single-playlist *ngIf="!playlistHidden" [@flyInOut]="!playlistHidden" [playerHidden]="playerHidden"></single-playlist>
  <register *ngIf="playlistHidden" [@flyInOut]="playlistHidden"></register>
  <div [class.playerhide]="playerHidden" [class.playervisible]="!playerHidden" class="item">
    <div id="player"></div>
  </div>
</div>
<media-control (isHidden)="playerVisibilityChanged($event)"></media-control>
<ng2-toasty></ng2-toasty>
