ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7998a2;
    position: fixed;
    bottom: 0;
    width:100% !important;

    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2), 20px 20px 20px 20px rgba(0, 0, 0, 0.19);
}

li {
    float: left;
}

li a {
    display: block;
    cursor:pointer;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

li a:hover {
    background-color: #3d4649;
}
.mybar{
    width:100% !important;
    margin-top:0px !important;
}
.nowplaying{
    width:15%;
    overflow:hidden;
}
.nowplaying a:hover{
    background-color: #7998a2 !important;
}
.nowplaying a{
    cursor:default;
    white-space: nowrap;
}
.shuffleOn {
    color:lightgreen !important;
}
@media screen and (max-width: 480px) {
    .nowplaying{
        display: none;
    }
    .ad{
         display: none;
    }
    .showVideo{
        display:none;
    }
    ul{
        display: flex;
        justify-content: center;
    }
}