ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #add8e6;
    position: fixed;
    bottom: 0;
    width:100% !important;
}

li {
    float: left;
}

li a {
    display: block;
    cursor:pointer;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

li a:hover {
    background-color: #91d0e5;
}
.mybar{
    width:100% !important;
    margin-top:0px !important;
}
.nowplaying{
    width:15%;
    overflow:hidden;
}
.nowplaying a:hover{
    background-color: #add8e6 !important;
}
.nowplaying a{
    cursor:default;
    white-space: nowrap;
}