<nav class="navbar navbar-default navbar-fixed-top">
        <ul>
                <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                                <input class="form-control" [disabled]="showLogIn" #box (keyup)="keyword=box.value" (keyup.enter)="showAddSongModal()" type="text" placeholder="Add song">
                        </div>
                        <button (click)="showAddSongModal()" [disabled]="showLogIn" class="btn btn-default">Search</button>
                </form>

                <form class="navbar-form navbar-right" role="login">
                        <div *ngIf="showLogIn" class="form-group">
                                <input class="form-control" #box2 (keyup)="username=box2.value" (keyup.enter)="logIn()" type="text" placeholder="Username" required>
                                <input class="form-control" #box3 (keyup)="password=box3.value" (keyup.enter)="logIn()" type="password" placeholder="Password" required>
                        </div>
                        <div *ngIf="showLogIn == false" class="form-group">
                                <a class="loggedin">Logged in as {{user.username}}</a>
                        </div>
                         <button class="btn btn-default" (click)="logIn($event)">{{buttonText}}</button>
                         <button *ngIf="showLogIn" style="margin-right:5px;" class="btn btn-default" (click)="register($event)">Register</button>
                </form>
        </ul>
</nav>
<add-song-modal></add-song-modal>