<div class="mybar">
<ul>
        <li><a style="cursor:default;" class="navbar-brand">gvSound</a></li>
        <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                        <input class="form-control " #box (keyup)="keyword=box.value" (keyup.enter)="showAddSongModal()" type="text" placeholder="Search">
                </div>
                <button (click)="showAddSongModal()" class="btn btn-default">Youtube</button>
                <button class="btn btn-default" disabled>SoundCloud</button>
        </form>
        <li style="float: right;"><a>Log out</a></li>
</ul>
</div>
<add-song-modal></add-song-modal>