ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    float: left;
}
.navbar{
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}
.loggedin{
    padding-right: 15px;
    color:black;
}
.loggedin:hover{
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .btn.btn-default{
        display:none;
    }
    .navbar-form.navbar-right{
        display:none;
    }
    .navbar-form.navbar-left{
        border:none;
    }
}

.nohover:hover{
    background-color: transparent !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}