ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #add8e6;
    text-align: center;
    height:5vh;
}

li {
    float: left;
}

li a {
    display: block;
    cursor:pointer;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #91d0e5;
}

.mybar{
    width:100%;
    margin-top:0px !important;
}
.searchinput{
    border-radius: 5px;
    color:black;
   padding: 3px 6px;
   border:none;
   font-size: small;
}
.nohover:hover{
    background-color: transparent !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}