li:active{
    background-color:ghostwhite !important;
}
li:hover{
    transform: scale(1.01);
    -moz-transform:scale(1.01);
    -webkit-transform:scale(1.01);
}
li{
    background-color: transparent;
    cursor:pointer !important;
    border-radius:5px;
    margin-top:4px;
    width:100%;
    transition: all .2s ease-in-out;
}

.selected{
    background-color:lightblue;
}
.artist{
    width:42.5%;
}
.song_name{
    width:42.5%;
    padding-right: 25px;
    padding-left: 25px;
}
.song_added{
    width:15%;
}
.item{
    height: 82.5vh;
    overflow-y:auto;
    width:60vw !important;
    overflow-x:hidden;
}

table {
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    font-size: small;
}

.dnd-drag-start {
    -moz-transform:scale(0.9);
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
    opacity:0.7;
    border: 2px solid #000;
    border-radius:5px;
}
.dnd-drag-enter {
    opacity:0.7;
    border: 2px solid #000;
    border-radius:5px;
}

.dnd-drag-over {
    border: 2px solid #000;
    border-radius:5px;
}

.dnd-sortable-drag {
   border-radius:5px;
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px solid #000;
}