li:hover{
    background-color:#def9ff;
    transition: none;
}
li{
    background-color: transparent;
    cursor:pointer !important;
    border-radius:5px;
    margin-top:4px;
    width:100%;
    transition: all .2s ease-in-out;
}

.selected{
    background-color:#add8e6 !important;
}
.selected td{
    color:white !important;
}
.artist{
    width:42.5%;
    padding-left:5px;
    white-space: nowrap;
    overflow:hidden;
}
.song_name{
    width:42.5%;
    padding-right: 25px;
    padding-left: 25px;
    white-space: nowrap;
    overflow:hidden;
}
.song_added{
    padding-left: 5px;
    width:7.5%;
    overflow:hidden;
}
.list-group-item{
    border:none;
}
.item{
    height: 35vh;
    overflow-y:auto;
    width:80vw;
    overflow-x:hidden;
    margin-left:5px;
    transition: all .5s ease-in-out;
    transition-delay: 0.3s;
}
.icon{
    width:24px;
    padding-left:10px;
}
@media screen and (max-width: 480px) {
    .icon{
       display:none
    }
    .song_added{
       display:none
    }
    .song_name{
        width:57.5%;
    }
    .item{
       margin-top:4vh;
       height:55vh !important;
       width: 100vw !important;
       margin-left:0px !important;
       transition:none;
    }
    li{
        height:5vh;
    }
}

table {
    width:100%;
    border-collapse:collapse;
    table-layout:fixed;
    font-size: small;
}

.dnd-drag-start {
    -moz-transform:scale(0.97);
    -webkit-transform:scale(0.97);
    transform:scale(0.97);
    opacity:0.7;
    border-radius:5px;
}
.dnd-drag-enter {
    opacity:0.7;
    border-radius:5px;
}

.dnd-drag-over {
    border-radius:5px;
}

.dnd-sortable-drag {
   border-radius:5px;
  -moz-transform:scale(0.97);
  -webkit-transform:scale(0.97);
  transform:scale(0.97);
  opacity:0.7;
}